.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.title-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0rem;
  margin-top: 0;
}
.subtitle-4 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0rem;
  margin-top: 0;
  color: rgb(134, 133, 133);
}
.text {
  font-size: 1.125rem;
  line-height: 1.5;
}

button {
  font-size: calc(10px + 2vmin);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

form {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

input[type='submit'],
button[type='submit'] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

textarea {
  width: 100%;
  font-family: inherit;
  height: 200px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
  resize: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
